<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Suppress DEBUG logs from Spring Test Context -->
    <Logger name="org.springframework.test" level="info" additivity="false">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="FileLogger"/>
    </Logger>
    <Logger name="org.springframework" level="info" additivity="false">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="FileLogger"/>
    </Logger>
    <Loggers>
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>
        <Logger name="org.apache" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
